# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Large html files created by R markdown
*.html

README.Rmd

# Output figures and data files
output/*.pdf

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
docs

# macOS desktop services store
.DS_Store

# Large data and output files
freshwater/data
freshwater/code/ignore
freshwater/output

marine/data
marine/code/ignore
marine/output

data